.text-justify {
    text-align: justify !important;
}

.container div p {
    text-align: justify !important;
}

.section-title {
    font-size: 2.4rem;
    text-align: center;
}

.section-subtitle-dark, .section-subtitle {
    text-align: center !important;
}

.capability-title,
.feature-title,
.section-title,
.section-title-dark {
    /* color: var(--base-skin); */
    border-bottom: 0px !important;
    /* font-size: 2.4rem !important; */
}

.section-title{
    line-height: 89px;
    /* font-size: 2.4rem !important; */
}

.card-title {
    text-decoration: none !important;
}
.all-heads {
    line-height: 89px;
}

#skill h3 {
    /* color: var(--base-skin); */
    border-bottom: 0px !important;
}

.under-line .card-body h3 {
    /* color: var(--base-skin); */
    border-bottom: 0px !important;
}